files:
  "/etc/httpd/conf.d/blog_rewrite.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine On
      RewriteCond %{HTTP_HOST} ^http://blog.stuffmattdid.today$ [NC]
      RewriteRule ^(.*) http://stuffmattdid.today/blog/$1 [L]
      RewriteCond %{HTTP_HOST} ^http://api.stuffmattdid.today$ [NC]
      RewriteRule ^(.*) http://stuffmattdid.today/api/$1 [L]
