files:
  "/etc/httpd/conf.d/blog_rewrite.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine On
      <If "%{HTTP_HOST} == 'http://blog.stuffmattdid.today'">
        RewriteRule ^((?!/?admin).*) /blog/$1 [L]
      </If>
      <If "%{HTTP_HOST} == 'http://api.stuffmattdid.today'">
        RewriteRule ^((?!/?admin).*) /api/$1 [L]
      </If>
