files:
  "/etc/httpd/conf.d/blog_rewrite.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine On
      <IF "%{HTTP_HOST} == 'http://blog.stuffmattdid.today'"}>
        RewriteRule ^(.*) /blog/$1 [L]
      </If>
      <IF "%{HTTP_HOST} == 'http://api.stuffmattdid.today'"}>
        RewriteRule ^(.*) /api/$1 [L]
      </If>
