files:
  "/opt/elasticbeanstalk/hooks/configdeploy/post/restoredb.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      source /opt/python/run/venv/bin/activate
      python manage.py restorelatestdb
      python manage.py opendbpermissions
      return 0
  "/opt/elasticbeanstalk/hooks/restartappserver/pre/backupdb.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      source /opt/python/run/venv/bin/activate
      python manage.py backupdb
      return 0
