files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post":
    mode: "000755"
    owner: root
    group: root
    content: |
      source /opt/python/run/venv/bin/activate
      python manage.py restorelatestdb
      python manage.py 
      return 0
  "/opt/elasticbeanstalk/hooks/restartappserver/pre":
    mode: "000755"
    owner: root
    group: root
    content: |
      source /opt/python/run/venv/bin/activate
      python manage.py backupdb
      return 0
